.services {
    padding: 50px 0;

    &__grid {
        list-style: none;
    }

    &__item {
        @include color($gray);

        text-align: center;

        &-icon {
            width: 4em;
            fill: $gray;
        }

        &-title {
            font-size: calc(1rem + 0.4vw);
            font-weight: $fw-b;
            text-transform: uppercase;
        }

        &-description {
            font-size: calc(0.8rem + 0.2vw);
            opacity: 0.7;
            line-height: 1.3;
        }
    }
}