// 
// modules
// 

@import "modules/variables";
@import "modules/utility";

// 
// partials
// 

@import "partials/navbar";
@import "partials/slider";
@import "partials/services";
@import "partials/new-collection";
@import "partials/product";

// 
// base
// 

* {
    box-sizing: border-box;
}

body {
    font-family: $ff-ss;
    font-weight: $fw-r;
}

button {
    cursor: pointer;
}

.skip-link {
    position: absolute;
    top: 0;
    left: -99999px;
    
    padding: 10px;

    background: #fff;

    &:focus {
        left: 0;
    }
}

.section-title {
    margin: auto;
    
    color: $gray;

    font-size: calc(1.5rem + 1vw);
    text-transform: uppercase;
    text-align: center;

    &::after {
        content: "";
        display: block;
        height: 0.2em;
        width: 200px;
        margin: 0.5em auto;

        background-color: $primary;
    }
}