// 
// modules
// 

@import "modules/variables";
@import "modules/utility";
@import "modules/mixins";
@import "modules/site-grid";
@import "modules/form";

// 
// partials
// 

@import "partials/navbar";
@import "partials/slider";
@import "partials/services";
@import "partials/new-collection";
@import "partials/product";
@import "partials/featured-products";
@import "partials/season-sale";
@import "partials/best-sellers";
@import "partials/customer-reviews";
@import "partials/newsletter";
@import "partials/our-partners";

// 
// base
// 

* {
    box-sizing: border-box;
}

body {
    font-family: $ff-ss;
    font-weight: $fw-r;
}

p {
    font-size: calc(.8rem + .2vw);
    line-height: 1.5;
}

button {
    cursor: pointer;
}

.skip-link {
    position: absolute;
    top: 0;
    left: -99999px;
    
    padding: 10px;

    background: #fff;

    &:focus {
        left: 0;
    }
}

.section-title {
    margin: auto;
    
    color: $gray;

    font-size: calc(1.5rem + 1vw);
    text-transform: uppercase;
    text-align: center;

    &__divider {
        display: block;
        position: relative;
        width: 200px;
        height: 0.4em;
        margin: 2em auto;
        border: none;

        background-color: $primary;

        &::before, &::after {
            content: "";
            display: block;
            position: absolute;
            width: 200px;
            height: 0.2em;

            background-color: $primary;
        }

        &::before {
            top: -0.4em;
        }

        &::after {
            bottom: -0.4em;
        }
    }
}